<div class="container">
  <form [formGroup]="rForm" (submit)="submit()" class="frmm">
      <div fxLayout="column" fxLayoutAlign="center">
      
          <mat-form-field color="accent" class="example-full-width">
            <mat-label for="institution">Centro educativo</mat-label>
            <mat-select
              [compareWith]="compareInstitution"
              name="institution"
              formControlName="institution"
            >
              <mat-option [value]="institution" *ngFor="let institution of institutions">
                {{ institution.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> 
        
          <mat-form-field color="accent">
            <mat-label for="category">Familia profesional</mat-label>
            <mat-select
              name="category"
              formControlName="category"
              [compareWith]="compareCategory"
            >
              <mat-option [value]="category" *ngFor="let category of categories">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>  
        

        
          <mat-form-field color="accent">
            <mat-label for="grade">Nivel</mat-label>
            <mat-select
              name="grade"
              formControlName="grade"
              [compareWith]="compareGrade"
            >
              <mat-option [value]="grade" *ngFor="let grade of grades">
                {{ grade.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>  
        

        
          <mat-form-field color="accent">
            <mat-label for="title">Título</mat-label>
            <mat-select
              name="title"
              formControlName="title"
              [compareWith]="compareTitle"
            >
              <mat-option [value]="title" *ngFor="let title of titles">
                {{ title.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>  
        

        
          <mat-form-field color="accent">
            <mat-label for="date">Fecha de obtención del título</mat-label>
            <input matInput
              type="text"
              name="date"
              formControlName="date"
            />
          </mat-form-field>  
        

        <div layout="row" layout-align="space-around center">

            <div class="form-group">
                <mat-checkbox 
                    name="bilingue"
                    formControlName="bilingue"
                  >Bilingue
                </mat-checkbox>
            </div>
            
            <div class="form-group">
              <mat-checkbox
                name="dual"
                formControlName="dual"
              > Dual
              </mat-checkbox>
            </div>
            
        </div>
    </div>    
    <div class="boton-form"   fxLayout="row" fxLayoutAlign="center none" >
          <button button mat-raised-button class="btn btn-rose btn-round"  type="submit" [disabled]="rForm.invalid">
            Guardar
          </button>
    </div>

  </form>
</div>