<form [formGroup]="rForm" (submit)="submit()">
  <div class="card-content" fxLayout="column" fxLayoutAlign="space-between start" >
    <div class="form-group">
      <mat-form-field color="accent">
        <mat-label for="institution">Centro educativo</mat-label>
        <input matInput
          type="text"
          class="col-sm-10 form-control"
          name="institution"
          formControlName="institution"
        />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="accent">
        <mat-label for="title">Título</mat-label>
        <input matInput
          type="text"
          class="col-sm-10 form-control"
          name="title"
          formControlName="title"
        />
      </mat-form-field>  
    </div>

    <div class="form-group">
      <mat-form-field color="accent">
        <mat-label for="date">Fecha de obtención del título</mat-label>
        <input matInput
          type="text"
          name="date"
          class="col-sm-10 form-control"
          formControlName="date"
        />
        </mat-form-field>>  
    </div>
    <div class="form-group">
      <mat-form-field color="accent">
        <mat-label for="bilingue">Bilingue</mat-label>
        <input matInput
          type="checkbox"
          name="bilingue"
          class="form-check-input"
          formControlName="bilingue"
        />
      </mat-form-field>>  
    </div>
  </div>
    <button button mat-raised-button class="btn btn-rose btn-round" type="submit" [disabled]="rForm.invalid">
      Guardar
    </button>

</form>
